<Files ".env*">
    Require all denied
</Files>

<Files ".gitignore">
    Require all denied
</Files>

<Files "node_modules">
    Require all denied
</Files>

<Files "config">
    Require all denied
</Files>

<Files "*.log">
    Require all denied
</Files>

<Files "logs">
    Require all denied
</Files>